body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    color: rgb(255, 255, 255); /* Ensures text is white */
    text-align: center;
    font-family: 'Outfit';
    padding: 1rem;
    margin-top: auto; /* Pushes footer to the bottom */
    width: 100%;
    background: none !important; /* Removes any background */
    box-shadow: none; /* Ensures no shadow effect */
    border: none; /* Removes any border */
    font-weight: bold; /* Makes text bold */
}
