.group73HelpCenter {
    position: absolute;
    width: 1051px;
    height: 853px;
    left: 347px;
    top: 120px;
  }
  
  .rectangle120HelpCenter {
    box-sizing: border-box;
    position: absolute;
    width: 1051px;
    height: 830px;
    left: 347px;
    top: 143px;
    background: #FEFEFE;
    border: 1px solid rgba(30, 30, 30, 0.65);
  }
  
  .titleHelpCenter {
    position: absolute;
    width: 129px;
    height: 19px;
    left: 347px;
    top: 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #1E1E1E;
  }
  
  .rectangle124HelpCenter {
    position: absolute;
    width: 995px;
    height: 220px;
    left: 376px;
    top: 445px;
    background: #FEFEFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
  }
  
  .rectangle125HelpCenter {
    position: absolute;
    width: 995px;
    height: 220px;
    left: 376px;
    top: 715px;
    background: #FEFEFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
  }
  
  .reviewTextHelpCenter {
    font-family: 'Roboto';
    font-size: 16px;
    color: #303030;
    margin-bottom: 10px;
  }
  
  .reviewAuthorHelpCenter {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    color: #555;
  }
  