.logo-container {
  position: absolute; /* Place it over other elements */
  top: 26px; /* Adjust as needed */
  left: 81px; /* Center horizontally */
  
  z-index: 150!important; /* Ensure it stays on top */
}

/* Logo.module.css */
.logo {
  position:fixed;
width: 160px; /* Default width */
height: auto;
left: -570px !important;
top:15px;
z-index: 225!important;
  pointer-events: none;
}

/* Explicitly reset any hover states */
.logo:hover {
  transform: none !important;
  filter: none !important;
  opacity: 1 !important;
 
}

.logoLarge {
width: 483px; /* Adjusted width for specific use cases */
position: absolute; /* Required for top and left positioning */
top: 41px;
left: 60px;
z-index: 150; /* Ensures it stays on top */
}

.logo-image {
width: 320px; 
position: absolute; /* Required for top and left positioning */
top: 51px;
left: 44px;
}


