@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap');


.settings-wrapper {
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #fdfdfd;
  font-family: 'Roboto', sans-serif;
}

/* Background image */
.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 800px;
  background-image: url('https://s3-alpha-sig.figma.com/img/cddc/c69c/3f6f0a76202e9185950e2cc3030ddcf5?Expires=1745798400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=OSgpki4sDiZvJQaaVriuXYw824d-73NRdbbIvtE7QOxa0DEBTnaqr25l809G82VUYfdLi-qzcguGWZw113ZWHPkmCe39wejgx0mHBOZZ5OxXtrimYSAh37as31XlmaTMnXnIYhj-pVIVdnekxH1jYUYbF3lFRFLaOwi~-Op~ZqzpErl-9P6MmxTrDbm6bGuIKtH1xlZ3WPAepIf~Yb~2CYTyJgfjVg9T0mD7BSSVsLvnALAsBk0SPuH0Q~8rjRZmu-AMXGWT0hBvmxajESjf4suTA8ZvQwZGKVe~FZul1XSUnIqjrcerKK7FCVluiENEMOxr0cxaH-XUqwAbUyZCsw__');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Outfit', sans-serif;
  background-color: rgba(255, 255, 255, 0.62)!important; /* Transparent white with 75% opacity */
}

/* Background gradient box */
.settings-background {
  position: absolute;
  width: 383px;
  height: 730px;
  left: 134px;
  top: 30px;
  background: linear-gradient(180deg, #000000 42%, #7E3550 54%);
  opacity: 0.5;
  border-radius: 28px;
}

/* Panel box */
.settings-panel {
  position: absolute;
  width: 280px;
  height: 640px;
  left: 190px;
  top: 80px;
  background: #000000;
  opacity: 0.45;
  border-radius: 20px 20px 20px 20px;
  padding: 20px;
}

/* Settings Title */
.settings-title {
  position: absolute;
  width: 283px;
  height: 72px;
  margin-left: -10px;
  top: -60px;
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  font-weight: 900 !important;
  font-size: 30px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;

  color: #FEFEFE;
}



.section-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  font-family: 'Outfit', sans-serif;
  margin-top: 20px;  /* controls spacing above */
  margin-bottom: 8px; /* spacing below */
  text-align: left; /* Aligns text to the left */
  margin-left: -10px;
}


.menu-item {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #FEFEFE;  /* default text color */
  margin-top: 10px;
  margin-bottom: -12px;
  text-decoration: none;
  border-bottom: none;
  outline: none;
  margin-left: -25px !important;
}

.menu-item:hover {
  color: #7E3550;  /* change text color on hover */
  text-decoration: underline;  /* add underline on hover */
}
  




.backhome-button {
  position: absolute;
  right: 150px;
  top: 700px;
  width: 160px;
  height: 34px;
  background: #7E3550;
  border: none;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  font-family: 'Outfit', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #FEFEFE;
  white-space: nowrap; /* ensures the text stays in one line */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}



/* Button content */
.state-layer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  gap: 8px;
  width: 127px;
  height: 34px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  background-color:white;   
}

.backgroundOverlayPurchases {
    position: absolute;
    width: 887px;
    height: 680px;
    left: 420px;
    top: 39px;
    background: linear-gradient(180deg, #000000 0%, #7E3550 58%);
    opacity: 0.5;
    border-radius: 28px;
  }
  
  .myPurchasesTitle {
    position: absolute;
    width: 164px;
    height: 40px;
    left: 450px;
    top: 60px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #FEFEFE;
  }
  
  .rectangleMain {
    position: absolute;
    width: 828px;
    height: 600px;
    left: 450px;
    top: 110px !important;
    background: rgba(30, 30, 30, 0.65);
    opacity: 0.5;
  }
  
  .purchaseBlock {
    box-sizing: border-box;
    position: absolute;
    width: 805px;
    height: 176px;
    background: rgba(30, 30, 30, 0.65);
    opacity: 0.75;
    border: 1px solid #FEFEFE;
    left: 460px !important;
    margin-top: -140px;
  }
  
  .lineSeparator {
    position: absolute;
    width: 805px;
    height: 0px;
    border: 1px solid #FEFEFE;
    left: 460px !important;
    margin-top: -145px;
  }
  
  .sellerName {
    position: absolute;
    width: 270px;
    height: 22px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #FEFEFE;
    left: 470px !important;
    margin-top: -140px;
  }
  
  .productName {
    position: absolute;
    width: 270px;
    height: 22px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #FEFEFE;
    left: 470px !important;
    margin-top: -65px;
  }
  