/* Settings Container */
.settings-container {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #FEFEFE;
  }
  
  /* Background and Title */
  .settings-background {
    position: absolute;
    width: 1440px;
    height: 1023px;
    left: 0;
    top: 1px;
    
    background-image: url('https://s3-alpha-sig.figma.com/img/cddc/c69c/3f6f0a76202e9185950e2cc3030ddcf5?Expires=1745798400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=OSgpki4sDiZvJQaaVriuXYw824d-73NRdbbIvtE7QOxa0DEBTnaqr25l809G82VUYfdLi-qzcguGWZw113ZWHPkmCe39wejgx0mHBOZZ5OxXtrimYSAh37as31XlmaTMnXnIYhj-pVIVdnekxH1jYUYbF3lFRFLaOwi~-Op~ZqzpErl-9P6MmxTrDbm6bGuIKtH1xlZ3WPAepIf~Yb~2CYTyJgfjVg9T0mD7BSSVsLvnALAsBk0SPuH0Q~8rjRZmu-AMXGWT0hBvmxajESjf4suTA8ZvQwZGKVe~FZul1XSUnIqjrcerKK7FCVluiENEMOxr0cxaH-XUqwAbUyZCsw__');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.25;
  }
  
  .settings-title {
    position: absolute;
    width: 283px;
    height: 72px;
    left: 200px;
    top: 123px;
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 40px;
    color: #FEFEFE;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
  }
  
  /* Settings Sidebar */
  .settings-sidebar {
    position: absolute;
    width: 293px;
    height: 763px;
    left: 190px;
    top: 195px;
    background: linear-gradient(180deg, #000000 42%, #7E3550 54%);
    opacity: 0.5;
    border-radius: 28px;
  }
  
  /* Rectangle Style */
  .rectangle {
    position: absolute;
    width: 280px;
    height: 59px;
    background: #FEFEFE;
    opacity: 0.75;
    border-radius: 0px 20px 20px 20px;
  }
  
  .settings-label {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FEFEFE;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

 /* My Account Section Title */
.settings-myaccount{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 24px;
    color: #7E3550;
    text-align: center;
    position: absolute;
    top: 20px; /* Adjust top as needed */
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Support Section Title */
  .settings-support {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 24px;
    color: #7E3550;
    text-align: center;
    position: absolute;
    top: 10%; /* Adjust top as needed */
    left: 50%;
    transform: translateX(-50%);
  }
  
   
  /* Support Section Title */
  .settings-premium {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 24px;
    color: #7E3550;
    text-align: center;
    position: absolute;
    top: 10%; /* Adjust top as needed */
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* User Section Title */
  .settings-user  {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 24px;
    color: #7E3550;
    text-align: center;
    position: absolute;
   margin-top: -12px; /* Adjust top as needed */
    left: 50%;
    transform: translateX(-50%);
  }
  
  
  /* Home Button */
  .settings-home-button {
    position: absolute;
    width: 127px;
    height: 34px;
    left: 1179px;
    top: 917px;
    background: #7E3550;
    border-radius: 100px;
    color: #FEFEFE;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  